body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.header {
  padding: 20px;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: rgba(246, 246, 246, 0.986);
}

.header h1 {
  font-size: 28px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: rgba(250, 255, 250, 0.938);
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.iframe-container {
  background-color: white;
  max-height: 500px;
  overflow: auto;
  border: 1px solid black;
  margin-bottom: 20px;
}

.iframe-container iframe {
  width: 100%;
  border: 3px solid green;
  padding: 10px;
}

.iframe-container h1 {
  text-align: right;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  margin-top: 20px;
}

footer p {
  margin: 0;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  margin: 10px 0;
}

.col-md-4,
.col-md-5 {
  background-color: #333;
  text-align: center;
}

.container {
  background-color: #333;
}

.row {
  background-color: #333;
}
