body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .header {
padding: 80px; /* some padding */
text-align: center; /* center the text */

background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
color: rgba(246, 246, 246, 0.986); /* white text color */
padding-top: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  padding-left: 80px;
}

/* Increase the font size of the <h1> element */
.header h1 {
font-size: 40px;
}
/* Style the top navigation bar */
.navbar {
overflow: hidden; /* Hide overflow */
background-color: #333; /* Dark background color */
position: sticky;
padding-top: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  padding-left: 80px;
}

/* Style the navigation bar links */
.navbar a {
float: left; /* Make sure that the links stay side-by-side */
display: block; /* Change the display to block, for responsive reasons (see below) */
color: white; /* White text color */
text-align: center; /* Center the text */
padding: 14px 20px; /* Add some padding */
text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
background-color: rgba(250, 255, 250, 0.938); /* Grey background color */
color: black; /* Black text color */
}
ul {
list-style: none;
margin: 0;
padding: 0;
position: sticky;
}

html {
  scroll-behavior: smooth;
}

.ecsp-ecsp-SingleProduct-v2-ecsp-SingleProduct-v2-bordered-ecsp-SingleProduct-v2-centered-ecsp-Product-ec-Product-512552809 {

  float: left;
}

body {

  background-image: url('Fundal.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}


.iframe-container {
      background-color: white;
      height: 500px;
      overflow: scroll;
      border: 1px solid black;
}


.iframe-container iframe {

     overflow: hidden;
     margin: auto;
     width: 50%;
     border: 3px solid green;
     padding: 10px;
     float: left !important;

}

.iframe-container h1 {

     float: right;

}

footer {
  background-color: #333;
  color: white;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

footer p {
  margin: 0;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  margin: 10px 0;
}

.col-md-4 {

     background-color: #333;
     text-align: center;

}

.col-md-5 {

     background-color: #333;
     text-align: center;
      
}

.container {

     background-color: #333;
     padding-top: 0px !important;
     padding-right: 0px !important;
     padding-bottom: 0px !important;
     padding-left: 0px !important;


}

.row {

     background-color: #333;

}
