:root {
  --dark: rgb(20, 20, 20);
  --yellow: rgb(253, 216, 53);
  --blue: rgb(98, 0, 234);

  --c1: rgb(38, 70, 83);
  --c2: rgb(42, 157, 143);

  --left-color: var(--c1);
  --right-color: var(--c2);
}

.super {
  position: relative;
  z-index: 2;
}

.super .side {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
}

.super .side .title {
  font-family: "Rubik", sans-serif;
  font-size: 8vw;
  margin: 0;
  width: 80vw;
  color: white;
}

.super .side .fancy {
  font-family: "Lobster", cursive;
  font-size: 1.3em;
  line-height: 0.8em;
  color: white;
}

#left-side {
  background-color: var(--left-color);
  left: 0;
}

#right-side {
  background-color: var(--right-color);
  right: 0;
}




